html{
    font-family: "Manrope", sans-serif;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

body{
    margin: 0;
}

button{
    background-color: #F84646;
    color: white;
    font-weight: 500;
    padding: 8px 24px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 24px
}

h1{
    font-size: 64px;
    font-weight: 800;
    margin: 0;
}

h2{
font-size: 48px;
font-weight: 800;
margin: 0; 
}

#presentation-container{
    padding: 40px 120px;
    height: 600px;
    background-image: url(../img/background.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

#presentation{
    width: 600px;
    position: relative;
    top: calc(50% - 145px);
}

.container{
    padding: 160px 120px;
    text-align: center;
}

.contact-title{
    margin-top: 8px;
}

.container p{
    margin-top: 24px;
}

.container button{
    margin-top: 32px;
    transition: opacity 0.5s ease-in-out, transform 0.5s .2s;
}

.container button:hover{
    opacity: 0.8;
    transform: scale(1.1);
}

.bg-gradient{
    background: linear-gradient(180deg, white, #d9d9d9);
}